@mixin char-list-imgs {
    height: 250px;
    width: 100%;
    margin: auto;
    // margin: 5px;
}

@mixin char-portraits-in-list {
    width: 250px;
    height: 250px;
    overflow: hidden;
    float: left;
    margin: 5px;
    justify-content: center;
}

.winning-char-img {
    @include char-list-imgs();
}

.losing-char-img {
    @include char-list-imgs();
    filter: grayscale(100%);
    opacity: 0.4;


}

.char-main {
    width: 60%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;
    grid-template-areas: "char-one vs char-two"
}

#char-one {
    grid-area: char-one;
}

#char-one img {
    width: 500px;
}

#char-two {
    grid-area: char-two;
}

#char-two img {
    width: 500px;
}

@mixin char-teams {
    width: 1300px;
    margin: 0 auto 10px auto;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.winning-chars {
    @include char-teams();
}

.winning-char {
    @include char-portraits-in-list();
}

.losing-chars {
    @include char-teams();
}

.losing-char {
    @include char-portraits-in-list();
}

// .losing-char-span {
//     color: red;
//     position: absolute;
//     width: 250px;
//     font-size: 200px;
//     z-index: 2;
//     justify-content: center;
// }

.losing-char-hr-1 {
    color: red;
    height: 250px;
    width: 100px;
    transform: rotate(45deg);
}

@mixin losing-lines ($left-pos, $top-pos, $rotate){
    position: relative;
    left: $left-pos;
    top: $top-pos;
    border-top: 10px solid red;
    width: 255%;
    transform: rotate($rotate);
}

.lineOne {
    @include losing-lines(-300px, 40px, 42deg);
}

.lineTwo {
    @include losing-lines(-100px, 40px, -42deg);
    z-index: -1;
}