@mixin char-list-imgs {
    height: 250px;
    width: 100%;
    margin: auto;
    // margin: 5px;
}

@mixin char-portraits-in-list {
    width: 250px;
    height: 250px;
    overflow: hidden;
    float: left;
    margin: 5px;
    justify-content: center;
}

.winning-char-img {
    @include char-list-imgs();
}

.losing-char-img {
    @include char-list-imgs();
    filter: grayscale(100%);
    opacity: 0.4;


}

.char-main {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;
    grid-template-areas: "char-one vs char-two"
}

#char-one {
    grid-area: char-one;
}

#char-one img {
    width: 500px;
}

#char-two {
    grid-area: char-two;
}

#char-two img {
    width: 500px;
}



.winning-char {
    @include char-portraits-in-list();
}

.losing-char {
    @include char-portraits-in-list();
}

.losing-char-span {
    color: red;
    position: absolute;
    width: 250px;
    font-size: 200px;
    z-index: 2;
    justify-content: center;
}
