@mixin char-list-width {
    width: 250px;
    height: 250px;
    margin: 5px;
    overflow: hidden;
}

.winning-char-img {
    @include char-list-width();
}

.losing-char-img {
    @include char-list-width();
}